body{
    color: #fff;
    margin: 0%;
    padding: 0%;
    background-color:rgba(17, 17, 17, 0.904);
    margin: 5% 20%;
}
#container{
    background-color:rgba(15, 15, 15, 0.383);
    height: 100vh;
    

}

.blogs, .blogs{
    margin: 5% auto;
}
