<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="container" >
            {{- block "main" . }}{{- end }}
            
        </div>
        {{- partial "footer.html" . -}}
        
    </body>
</html>
