{{ define "main"}}
  <h2>{{.Title}}</h2>

  <!-- {{.Content}} -->

  <section class="blogs">
      {{range .Pages}}
      <section>
          <h3>
              <a href="{{.RelPermalink}}">{{.Title}}</a>
          </h3>
          {{end}}
      </section>

  </section>

  {{end}}