{{ define "main" }} ​

<div class="container">
  ​
  <!-- <section class="project-list" ​>
    ​
    <h2>Projects</h2>
    sort the itemsby the most recent project first

    <ul>
        {{range (where .Site.RegularPages "Type" "in" "projects").ByDate.Reverse}}
        
        <li>
            <a href="{{.RelPermalink}}">{{.Title}}</a>
        </li>
        {{end}}
    </ul>    ​
  </section> -->
  ​ ​
  <section class="blog">
    ​
    <h2>{{ .Title }}</h2>
    ​ ​ {{ .Content }} ​
  </section>
  ​ ​
</div>
​ {{ end }}


