<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-center bg-dark bg-gradient">
        <div class="d-flex flex-column justify-content-between">
            <a class="navbar-brand text-center p-2 fs-6" href="#">Copyright &COPY; Bikash jaiswal 2021</a>
            <div class="d-flex flex-row bd-highlight justify-content-center">
                <div class="p-2 bd-highlight"><i class="fab fa-linkedin fa-2x"
                        onclick=" window.open('https://www.linkedin.com/in/bikashjaiswal/','_blank')"></i>
                </div>
                <div class="p-2 bd-highlight"><i class="fab fa-reddit-square fa-2x"></i></div>
                <div class="p-2 bd-highlight"><i class="fab fa-github-square fa-2x"
                        onclick=" window.open('https://github.com/bikash-jaiswal','_blank')"></i>
                </div>
                <div class="p-2 bd-highlight"><i class="fab fa-facebook-square fa-2x"></i></div>
            </div>
        </div>
    </div>
</nav>