
    <nav id="home"
        class="navbar fixed-top  navbar-dark bg-dark bg-gradient justify-content-evenly fs-4">
        <a class="nav-link active text-light nav-item" aria-current="page" href="/">Bikash Jaiswal</a>
        <ul class="nav justify-content-center">
            <a class="nav-link nav-item text-danger nav-item" aria-current="page" href="/posts">Posts</a>
            <a class="nav-link text-danger nav-item" href="/about"> About</a>
            <!-- <a class="nav-link text-danger nav-item" href="">P</a> -->
            <!-- <div class=" justify-content-center"><a href="assets/Bikash_jaiswal_Resume_SD.pdf" class="btn btn-success text-light" download>My Resume</a></div> -->

        </ul>
    </nav> 
